<footer class="footer">
  <div class="content has-text-centered">
       <b>Inspirit</b> by Group 2</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a> If you'd like to contact us, use the following:</br>
      Phone Number: (555) 100 - 2000</br>
      Email: inspirit@inspirit.com
  </div>
</footer>