<nav class='navbar' role='navigation' aria-label='main navigation'>

  <div id='navbarBasicExample' class='navbar-menu'>
    <div class='navbar-start'>

      <a href='/'><button
          class='button is-primary'
          id='homepage'
        >Home</button></a>

      {{! <a href="/portfolio"><button class="button is-primary" id="portfolio">Portfolio</button></a> }}

      <a href='/inspiration'><button
          class='button is-primary'
          id='inspiration'
        >Inspire Me</button></a>
      <a>
        {{#if logged_in}}
          <a href='/portfolio'><button
              class='button is-primary'
              id='portfolio'
            >Portfolio</button></a>
          <button class='button is-primary' id='logout'>Logout</button>
        {{else}}
          <a href='/login'><button
              class='button is-primary'
              id='login'
            >Login/Sign-Up</button></a>
        {{/if}}
      </a>
    </div>
  </div>
</nav>