<section class = "quote-container">

<a href = "/Inspirit-Group-Project-2/...{{id}}">
<!-- the above href will be properly setup once we have the folder for the quotes created -->

<section>{{quote}}</section>

<section>{{author}}</section>

</a>

</section>