<div>
  {{#each quotes as |quote|}}
    {{!-- {{> quotes}} --}}
    <h4>{{quote.quote}}</h4>
    <h5>{{quote.author}}</h5>
  {{/each}}
  <a href='#' class='previous-quote'>&laquo; Previous quote</a>

  <a href='#' class='next-quote'>Next &raquo;</a>

  {{! <p>

    <button class="btn btn-primary">Next quote</button>
  </p> }}

  <form class='comment'>

    <label for='comment'>Feeling inspired? Jot down any thoughts here.</label>

    <input type='text' id='comment' name='comment' />

    <br />

    <input
      type='checkbox'
      id='saveToPortfolio'
      name='saveToPortfolio'
      value='Save'
    />

    <label for='saveToPortfolio'>
      Save your inspiration to your portfolio!</label>

    <br />

  </form>

</div>