<p>Below are your saved pieces of inspiration. You may look or edit your comments/thoughts to them as well as remove them when you are finished. If you would like to include your own quote, then contribute!</p>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>An Additional Spark of Inspiration? Add that below.</h3>

    <form class="form new-quote-form">
      <div class="form-group">
        <label for="quote-name">Quote:</label>
        <input class="form-input" type="text" id="quote-name" name="quote-name" />
      </div>
      <div class="form-group">
        <label for="speaker-author">Author:</label>
        <input class="form-input" type="text" id="speaker-author" name="speaker-author" />
      </div>
      <div class="form-group">
        <label for="comment">Why do you feel this quote is inspiring?  How has it inspired you?</label>
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="post-quote">Create</button>
      </div>
    </form>
  </div>

  
  <div class="col-md-6 quote-list">
    {{#if users_saved.length}}
    <h3>Currently saved pieces of inspiration:</h3>

    {{#each users_saved as |quote|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{quote.id}}">{{quote.quote}}</a></h4>
        <p>{{quote.author}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{quote.id}}">unsave</button>
      </div>
    </div>
    {{/each}}
  </div>
  
  {{/if}}
</div>

<script src="./js/profile.js"></script>
